<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marcos.autodatabases">
    <application android:allowBackup="true" android:label="@string/app_name">
       <!-- <meta-data
            android:name="AA_DB_NAME"
            android:value="MY_DATABASE.db"
            />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1"
            /> -->
    </application>

</manifest>
